* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: none;
}

/* Disable all scrollbars */
*::-webkit-scrollbar {
    display: none;
}

table {
    border-collapse: collapse;
}